<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container" [style.background-image]="'url(' + urlImgBackground + ')'" [ngStyle]="{'background-size': 'cover','background-repeat': 'no-repeat'}">

  <div class="row justify-content-end">
    <div class="col-sm-4">
      <div>{{frontPokemon.name}}</div>
      <app-progress-bar class="nb" [value]="100"></app-progress-bar>
      <div class="alignRight">{{frontPokemon.lifepoint}}/{{frontPokemon.maxLifepoint}}</div>
    </div>
  </div>

  <div class="row">
    <div class=".col-sm-4 justify-content-start">
      <img [attr.src]=backPokemonUrlImg alt="">
    </div>
    <div class=".col-sm-4 justify-content-center">
      <button type="button" class="btn btn-success">PLAY / PAUSE</button>
    </div>
    <div class=".col-sm-4 justify-content-end">
      <img [attr.src]=frontPokemonUrlImg alt="">
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-sm-4">
      <div class="alignRight">{{backPokemon.name}}</div>
      <app-progress-bar [value]="100"></app-progress-bar>
      <div>{{backPokemon.lifepoint}}/{{backPokemon.maxLifepoint}}</div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>

</div>

<router-outlet></router-outlet>
