<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container greenBackground">

  <div class="row justify-content-end">
    <div class="col-sm-4">
      <div>{{frontPokemonName}}</div>
      <app-progress-bar [value]="100"></app-progress-bar>
      <div class="alignRight">{{frontPokemonCurrentLife}}/{{frontPokemonTotalLife}}</div>
      <div class="alignCenter">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="">
      </div>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class=".col-sm-4 .offset-sm-4 .alignCenter">
      <button type="button" class="btn btn-success">PLAY / PAUSE</button>
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-sm-4">
      <div class="alignCenter">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/1.png" alt="">
      </div>
      <div class="alignRight">{{backPokemonName}}</div>
      <app-progress-bar [value]="100"></app-progress-bar>
      <div>{{backPokemonCurrentLife}}/{{backPokemonTotalLife}}</div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>

</div>

<router-outlet></router-outlet>
