<!--The content below is only a placeholder and can be replaced.-->
<div class="alignCenter">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container" [style.background-image]="'url(' + urlImgBackground + ')'" [ngStyle]="{'background-size': 'cover','background-repeat': 'no-repeat'}">

  <div class="row justify-content-end">
    <div class="col-sm-4 lightBackGround">
      <div class="alignRight">{{frontPokemon.lifepoint}}/{{frontPokemon.maxLifepoint}}</div>
      <app-progress-bar class="nb" [percentLife]=frontPokemonRatio [statusBar]=frontPokemonStatusBar></app-progress-bar>
      <div class="alignCenter">{{frontPokemon.name}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 alignCenter clignote">
      <img [attr.src]=backPokemonUrlImg alt="">
    </div>
    <div class="col-sm-4 alignCenter">
        <button type="button" (click)="onPause()" class="btn btn-success">{{pauseTxt}}</button>
    </div>
    <div class="col-sm-4 alignCenter clignote">
      <img [attr.src]=frontPokemonUrlImg alt="">
    </div>
  </div>

  <div class="row justify-content-start">
    <div class="col-sm-4 lightBackGround">
      <div class="alignCenter">{{backPokemon.name}}</div>
      <app-progress-bar [percentLife]=backPokemonRatio [statusBar]=backPokemonStatusBar></app-progress-bar>
      <div>{{backPokemon.lifepoint}}/{{backPokemon.maxLifepoint}}</div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 alignLeft">
      [15h 36min 20sec] Il attaque<br>
      [15h 36min 21sec] Il lui reste
    </div>

    <div class="col-sm-6 alignRight">
      Il attaque [15h 36min 22sec]<br>
      Il lui reste [15h 36min 23sec]
    </div>
  </div>
</div>
<router-outlet></router-outlet>
