/* You can add global styles to this file, and also import other style files */

.alignLeft { text-align: left }
.alignCenter { text-align: center }
.alignRight { text-align: right }

.lightBackGround {
  background-color: white;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.clignote {
  -webkit-animation-name: clignote;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: 4;
}
@-webkit-keyframes clignote {
  0%   { z-index:-1; }
  100% { z-index:1; }
}

textarea{
  border: none;
  width: 100%;
  margin-top: 3%;
  box-shadow:0px 0px 5px #000;
}
